﻿@model ContentViewModel
@{
    ViewBag.Title = Model.Bundle.Title;
    ViewBag.Description = Model.Bundle.Summary + " and discrovered new social media post or news";
    ViewBag.Robots = "index,follow";
    ViewBag.Canonical = "http://olyread.com/" + Url.Action("Bundle", "Content", new { slug = Model.Bundle.Slug, type = "bnd" });
}

<div class="sp-page-title">
    <div class="container">
        <ol class="breadcrumb">
            <li class="here" data-s=">"><span>You are here:</span></li>
            <li data-s=">"><a href="/" class="pathway">Home</a></li>
            <li data-s=">" class="active">@Model.Bundle.Title</li>
        </ol>
    </div>
</div>

<div id="sp-main-body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">

                <article class="sppb-addon-feature icon-mid">
                    <h1 class="sppb-addon-title h1">@Model.Bundle.Title</h1>
                    <div class="meta">
                        <span class="author"><img src="https://via.placeholder.com/50.jpg" alt=""> by Admin</span>
                        <span class="date">@Model.Bundle.CreateDate.ToString("dd MMMM yyyy")</span>
                        <span class="cate">in <a href="@Url.Action("Index","Category",new { slug = Model.Bundle.Category.Slug })">@Model.Bundle.Category.Title</a></span>
                    </div>

                    <div class="sppb-image">
                        <img src="~/@Model.Bundle.ImagePath" alt="" class="img-responsive post-thumb img-fitw">
                    </div>

                    <div class="sppb-addon-content">
                        <div class="sppb-addon-text">
                            <p class="mb17">
                                @Html.Raw(Model.Bundle.Description)
                            </p>
                        </div>
                    </div>
                </article>


                <div id="related" class="sppb-section">
                    <div class="sppb-section-title">
                        <h4>You May Also <strong>Like</strong></h4>
                    </div>
                    <div class="row">
                        @foreach (var item in Model.RelatedPosts)
                        {
                            <div class="col-md-4 col-sm-4">
                                <div class="sppb-addon-feature mb30-xs wow fadeInRight">
                                    <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.Title">
                                        <img src="@item.BigImagePath" alt="@item.Title" class="img-responsive post-thumb img-fitw">
                                    </a>
                                    <div class="sppb-addon-content">
                                        <a href="@Url.Action("Index","Content", new { slug = item.Slug })" title="@item.Title"><h4 class="sppb-addon-title">@item.Title</h4></a>
                                        <div class="meta">
                                            <span class="author">by Admin</span>
                                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @Html.Partial("_SideBar")
        </div>
    </div>
</div>

