﻿@model HomeViewModel
@{
    ViewBag.Title = "Home Page";
}
<div id="hightlight" class="sppb-section hightlight">
    <div class="row no-gutter">
        @foreach (var item in Model.Bundles.Take(1))
        {
            var postUrl = Url.Action("Bundle", "Content", new { slug = item.Slug, type = "bnd" });

            <div class="col-md-6">
                <div class="sppb-addon-feature overlay">
                    <img src="@item.ImagePath" alt="@item.Title" class="img-responsive post-thumb">
                    <div class="sppb-addon-content">
                        <span class="tags bg-nt">@item.Category.Title</span>
                        <a href="@postUrl" title="@item.Title"><h2 class="sppb-addon-title h1">@item.Title</h2></a>
                        <div class="meta">
                            <span class="author">by <a href="@postUrl" title="@item.Title">OlyRead.com</a></span>
                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
        @foreach (var item in Model.Bundles.Skip(1).Take(2))
        {
            var postUrl = Url.Action("Bundle", "Content", new { slug = item.Slug, type = "bnd" });

            <div class="col-md-3">
                <div class="sppb-addon-feature overlay">
                    <img src="@item.ImagePath" alt="@item.Title" class="img-responsive post-thumb">
                    <div class="sppb-addon-content">
                        <span class="tags bg-nt">@item.Category.Title</span>
                        <a href="@postUrl"><h2 class="sppb-addon-title h1">@item.Title</h2></a>
                        <div class="meta">
                            <span class="author">by <a href="@postUrl" title="@item.Title">OlyRead.com</a></span>
                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div id="sp-main-body">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div id="world" class="sppb-section">

                    <div class="sppb-section-title">
                        <h4><strong>World</strong> Now</h4>
                        <p class="sppb-title-subheading"><a href="#">View all World News</a></p>
                    </div>

                    <div class="row">
                        <div class="col-md-7 hidden-sm">
                            @foreach (var item in Model.Bundles.Skip(3).Take(1))
                            {
                                var postUrl = Url.Action("Bundle", "Content", new { slug = item.Slug, type = "bnd" });
                                <div class="sppb-addon-feature mb30-xs">
                                    <img src="@item.ImagePath" alt="@item.Title" class="img-responsive post-thumb img-fitw">
                                    <div class="sppb-addon-content">
                                        <a href="@postUrl" title="@item.Title"><h3 class="sppb-addon-title">@item.Title</h3></a>
                                        <div class="meta">
                                            <span class="author">by Admin</span>
                                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-md-5">
                            @foreach (var item in Model.Bundles.Skip(4).Take(4))
                            {
                                var postUrl = Url.Action("Bundle", "Content", new { slug = item.Slug, type = "bnd" });
                                <div class="sppb-addon-feature icon-right">
                                    <img src="@item.ImagePath" alt="@item.Title" class="img-responsive post-thumb">
                                    <div class="sppb-addon-content">
                                        <a href="@postUrl" title="@item.Title"><h4 class="sppb-addon-title">@item.Title</h4></a>
                                        <div class="meta">
                                            <span class="author">by Admin</span>
                                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>

                <div id="video" class="sppb-section">
                    <div class="sppb-section-title wow fadeInUp">
                        <h4>Latest <strong>Videos</strong></h4>
                        <p class="sppb-title-subheading"><a href="#">View all Videos</a></p>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            @foreach (var item in Model.Videos.Take(1))
                            {
                                <div class="sppb-addon-feature overlay mb10 wow fadeInUp">
                                    <a class="sppb-modal-selector sppb-magnific-popup" data-popup_type="iframe" data-mainclass="mfp-no-margins mfp-with-zoom" href="@item.VideoPath">
                                        <img src="@item.CoverPath" alt="" class="img-responsive post-thumb w870x500">
                                        <i class="zmdi zmdi-play-circle-outline"></i>
                                    </a>
                                    <div class="sppb-addon-content">
                                        <a><h2 class="sppb-addon-title">@item.Title</h2></a>
                                        <div class="meta">
                                            <span class="author">by Admin</span>
                                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div class="row gutter5">
                        @foreach (var item in Model.Videos.Skip(1))
                        {
                            <div class="col-md-3 hidden-sm">
                                <div class="sppb-addon-feature mb30-xs wow fadeInUp">
                                    <a class="sppb-modal-selector sppb-magnific-popup" data-popup_type="iframe" data-mainclass="mfp-no-margins mfp-with-zoom" href="@item.VideoPath">
                                        <img src="@item.CoverPath" alt="" class="img-responsive post-thumb img-fitw">
                                        <i class="zmdi zmdi-play-circle-outline"></i>
                                    </a>
                                    <div class="sppb-addon-content">
                                        <a><h4 class="sppb-addon-title">@item.Title</h4></a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>

                <div id="articles" class="sppb-section sppb-list">

                    <div class="sppb-section-title wow fadeInUp">
                        <h4>Latest <strong>Articles</strong></h4>
                        <p class="sppb-title-subheading"><a href="#">View all Articals</a></p>
                    </div>

                    <div class="sppb-addon-features">
                        @foreach (var item in Model.Posts.Skip(8).Take(10))
                        {
                            var postUrl = Url.Action("Index", "Content", new { slug = item.Slug });

                            <div class="sppb-addon-feature icon-left wow fadeInUp">
                                <img src="@item.BigImagePath" alt="@item.Title" class="img-responsive post-thumb">
                                <div class="sppb-addon-content">
                                    <a href="@postUrl" title="@item.Title"><h3 class="sppb-addon-title">@item.Title</h3></a>
                                    <div class="meta">
                                        <span class="author">by Admin</span>
                                        <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            @Html.Partial("_SideBar")

        </div>
    </div>
</div>