﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="https://raw.githubusercontent.com/saihoai/nettoday/master/logo-p-50x.png" rel="apple-touch-icon">
    <link href="https://raw.githubusercontent.com/saihoai/nettoday/master/logo-p-50x.png" rel="icon">
    <title>@ViewBag.Title</title>
    <meta name="author" content="readoly.com">
    <meta name="keywords" content="readoly,buzzfeed,bundle,funny,social media">
    @if (ViewBag.Description != null)
    {
        <meta name="description" content="@ViewBag.Description">
    }
    else
    {
        <meta name="description" content="@ViewBag.Title - olyread.com">
    }
    @if (ViewBag.Canonical != null)
    {
        <link rel="canonical" href="@ViewBag.Canonical" />
    }
    @if (ViewBag.Robots != null)
    {
        <meta name="robots" content="@ViewBag.Robots" />
    }
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CQuicksand:400,700%7CRoboto+Condensed:400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <link rel="stylesheet" href="~/_assets/css/style.css">
    <link rel="stylesheet" href="~/_assets/css/color.css">
    <link rel="stylesheet" href="~/_assets/css/custom.css">
</head>
<body class="sticky-header home off-canvas-menu-init">

    <div class="body-wrapper">
        <div class="body-innerwrapper">
            <header id="sp-header">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-2">
                        <a href="/" class="logo">
                            <img src="_assets/img/logo-45x.svg" alt="" class="fa-spin">
                            <span>Oly</span>
                            <span class="logo-slogan">Read</span>
                        </a>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-7">
                        <div class="sp-megamenu-wrapper">
                            <a id="offcanvas-toggler" class="visible-sm visible-xs" aria-label="Menu" href="#"><i class="zmdi zmdi-menu" aria-hidden="true" title="Menu"></i></a>
                            <ul class="sp-megamenu-parent menu-fade-up hidden-sm hidden-xs">
                                <li class="sp-menu-item"><a href="/">Home</a></li>
                                <li class="sp-menu-item sp-has-child current-item">
                                    <a href="javascript:;">Categories</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                @foreach (var item in CacheHelper.Categories.Take(10))
                                                {
                                                    <li class="sp-menu-item"><a href="@Url.Action("Index","Category", new { slug = item.Slug })">@item.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="sp-menu-item sp-has-child current-item">
                                    <a href="javascript:;">Other Categories</a>
                                    <div class="sp-dropdown sp-dropdown-main sp-menu-right">
                                        <div class="sp-dropdown-inner">
                                            <ul class="sp-dropdown-items">
                                                @foreach (var item in CacheHelper.Categories.Skip(10))
                                                {
                                                    <li class="sp-menu-item"><a href="@Url.Action("Index","Category", new { slug = item.Slug })">@item.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

            @RenderBody()

        </div>
    </div>

    <div class="offcanvas-menu">
        <a href="#" class="close-offcanvas"><i class="zmdi zmdi-close-circle-o"></i></a>
        <div class="offcanvas-inner">
            <div class="sppb-addon">
                <ul class="sppb-menu">
                    @foreach (var item in CacheHelper.Categories)
                    {
                        <li><a href="@Url.Action("Index","Category", new { slug = item.Slug })">@item.Title</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <script src="~/_assets/js/custom.js"></script>
</body>
</html>