﻿<div class="col-md-3 sidebar hidden-sm">
    <div id="mostread" class="sppb-section mostread">
        <div class="sppb-section-title">
            <h4><strong>Most</strong> Read</h4>
        </div>
        @{var counter = 0;}
        @foreach (var item in CacheHelper.SideBarRandom)
        {
            counter++;
            <div class="sppb-addon-features wow fadeInUp">
                <div class="sppb-addon-feature">
                    <a href="@Url.Action("Index","Content", new { slug = item.Slug })">
                        <img src="@item.BigImagePath" alt="@item.Title" title="@item.Title" class="img-responsive post-thumb img-fitw-xs">
                    </a>
                    <div>
                        <a href="@Url.Action("Index","Content", new { slug = item.Slug })"><h4 class="sppb-addon-title">@item.Title</h4></a>
                        <div class="meta">
                            <span class="author">by Admin</span>
                            <span class="date">@item.CreateDate.ToString("dd MMMM yyyy")</span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <div id="counter" class="sppb-section text-center">
        <div class="row gutter10">
            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter mb20 wow fadeInUp">
                    <i class="zmdi zmdi-facebook"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="56215" data-duration="5000">0</div>
                    <div class="text">Fans</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter mb20 wow fadeInUp" data-wow-delay=".1s">
                    <i class="zmdi zmdi-rss"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="359" data-duration="5000">0</div>
                    <div class="text">Subscribers</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter wow fadeInUp" data-wow-delay=".2s">
                    <i class="zmdi zmdi-youtube-play"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="6978" data-duration="5000">0</div>
                    <div class="text">Subscribers</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-6">
                <div class="sppb-addon-counter wow fadeInUp" data-wow-delay=".3s">
                    <i class="zmdi zmdi-twitter"></i>
                    <div class="sppb-animated-number" data-tpl="comma" data-digit="2827" data-duration="5000">0</div>
                    <div class="text">Followers</div>
                </div>
            </div>
        </div>

    </div>
</div>