/* 128 of 803 CSS properties converted by rtl.daskhat.ir 
 These properties should be override originals. 
 just load rtl css file after original css file.*/ 

/* body {direction:rtl;} */

/* Font content;*/
.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after { content: "\f2fa"; }

.sp-megamenu-parent .sp-dropdown .sp-dropdown-items .sp-has-child>a:after{
    right: auto; left: 15px;
}

.sppb-audio .zmdi{
    right: 101px;
}

.sppb-video .zmdi{
    left: 0;
    right: 0;
}

.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a{
    padding: 8px 16px 9px 20px ;
}

.dropdown-lang .dropdown-menu li > a{
    padding: 2px 15px 3px 15px ;
}

#sp-header:not(.menu-fixed){
    background: linear-gradient(to bottom, rgba(0,0,0,0.79) 100% 8%,rgba(0,0,0,0.65) 24%,rgba(0,0,0,0.12) 80%,rgba(0,0,0,0.03) 92%,rgba(0,0,0,0) 100%);
}

.sppb-section-more .sppb-addon-text:before{
    background: linear-gradient(to bottom, rgba(255,255,255,0.31) 100% 57%,rgba(255,255,255,0.94) 84%,rgba(255,255,255,1) 100%);
    left: 0;
    right: 0;
}

.sppb-addon-feature.overlay:before{
    left: 0;
    right: 0;
}

.sppb-form form{
    padding: 20px 20px 30px 20px ;
}

.sppb-share .dropdown-menu{
    right: 50px;
}

.sppb-addon-feature.author{
    padding: 15px 150px 15px 15px ;
}

.sppb-section-title:before{
    left: 0;
    right: 0;
}

.footer .sppb-optin-form input{
    border-color: rgba(255, .25) 255, 255, ;
}

.pagination>li>a, .pagination>li>span{
    text-align: left;
    padding: 3px 0 3px 5px ;
}

.row.no-gutter{
    margin-left: 0;
    margin-right: 0;
}

.row.no-gutter > [class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}

.row.gutter5{
    margin-left: -5px;
    margin-right: -5px;
}

.row.gutter5 > [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
}

.row.gutter10{
    margin-left: -10px;
    margin-right: -10px;
}

.row.gutter10 > [class*="col-"]{
    padding-left: 10px;
    padding-right: 10px;
}

#hightlight{
    float: right;
}

a.logo > *{
    float: right;
}

a.logo > img + span{
    padding: 0 11px 0 0 ;
}

.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:after{
    left: 0;
    right: 0;
}

.sp-dropdown:not(.sp-menu-full) li.sp-menu-item > a:before{
    right: 0;
}

.sp-dropdown:not(.sp-menu-full) li.sp-menu-item:hover > a:before, .sp-dropdown:not(.sp-menu-full) li.sp-menu-item:focus > a:before, .sp-dropdown:not(.sp-menu-full) li.sp-menu-item:active > a:before, .sp-dropdown:not(.sp-menu-full) li.sp-menu-item.active > a:before{
    border-width: 0 300px 0 0 ;
}

.sp-megamenu-parent .sp-dropdown.sp-dropdown-sub{
    right: 100%;
}

.sp-dropdown-main.sp-dropdown:not(.sp-menu-full) > .sp-dropdown-inner:before{
    right: 20px;
}

.sp-megamenu-parent .sp-dropdown.sp-dropdown-main.sp-menu-full{
    right: 0;
    left: 0;
}

.sp-search > *{
    float: left;
}

.dropdown-lang:before{
    right: 0;
}

.dropdown-lang:after{
    left: 0;
}

.dropdown-lang img{
    margin: 0 0 0 5px ;
}

.dropdown-lang > [data-toggle="dropdown"] img{
    margin: 0 0 0 1px ;
}

.dropdown-lang > [data-toggle="dropdown"] .zmdi{
    margin: 0 11px 0 0 ;
}

.dropdown-lang .dropdown-menu:before{
    left: 20px;
}

.dropdown-lang .dropdown-menu li > a:before, .dropdown-lang .dropdown-menu li > a:after{
    right: 0;
}

.dropdown-lang .dropdown-menu li > a:hover:before, .dropdown-lang .dropdown-menu li > a:focus:before, .dropdown-lang .dropdown-menu li > a:active:before, .dropdown-lang .dropdown-menu li.active > a:before{
    border-width: 0 300px 0 0 ;
}

.dropdown-lang .dropdown-menu li > a:after{
    left: 0;
}

.dropdown-search .dropdown-menu{
    left: 50px;
}

.dropdown-search.open .dropdown-menu{
    left: 30px;
}

.dropdown-search .dropdown-menu:after{
    left: -12px;
    border-left-color: transparent;
}

.sppb-addon-feature .meta > * + *:before{
    right: -3px;
}

.sppb-addon-feature.icon-right{
    padding: 0 0 0 128px ;
}

.sppb-addon-feature.icon-right + .icon-right:before{
    left: 0;
    right: 0;
}

.sppb-addon-feature.icon-right .post-thumb{
    right: auto; left: 0;
}

.sppb-addon-feature.icon-left{
    padding: 5px 330px 0 0 ;
}

.sppb-addon-feature.icon-left .post-thumb{
    right: 0;
}

.sppb-addon-feature:not(.overlay) .sppb-modal-selector:before{
    left: 0;
    right: 0;
}

.sppb-addon-feature .sppb-modal-selector .zmdi{
    left: 0;
    right: 0;
}

.sppb-section-title h4{
    float: right;
    padding: 0 0 0 20px ;
}

.sppb-section-title .sppb-title-subheading{
    float: left;
    padding: 0 17px 0 31px ;
}

.sppb-section-title .sppb-title-subheading:before, .sppb-section-title .sppb-title-subheading:after, .sppb-section-title .sppb-title-subheading > a:before{
    right: auto; left: 0;
}

.sppb-section-title .sppb-title-subheading > a:before{
    left: 3px;
}

.sp-dropdown-mega .sppb-addon-feature .sppb-addon-title{
    margin: 11px 20px 27px 0 ;
}

.mostread .sppb-addon-feature .sppb-addon-content{
    padding: 6px 43px 0 0 ;
}

.mostread .sppb-addon-feature .sppb-addon-content:before{
    right: 0;
}

.sppb-addon-counter .zmdi:after{
    left: 0;
    right: 0;
}

.sppb-menu li a:before{
    margin: 0 0 0 10px ;
}

.footer .sppb-addon-tags a + a:before{
    padding: 0 3px 0 5px ;
}

.footer .border:before{
    right: 0;
}

.footer .border:after{
    left: 0;
}

.sppb-addon-social.sm a{
    padding: 0 0 0 15px ;
}

.pager li>a:before, .pager li>span:before{
    left: 0;
    right: 0;
}
.pagination:before,
.pagination:after { display: none; }

.pagination:before{
    right: 2px;
}

.breadcrumb>li+li:before{
    padding: 0 3px 0 7px ;
}

.sppb-addon-feature.icon-mid > *:not(a){
    padding: 0 98px 0 80px ;
}

.sppb-addon-feature.icon-mid .author img{
    margin: 0 0 0 5px ;
}

.sppb-social > *{
    margin: 0 0 0 24px ;
}

.sppb-social > * > .zmdi{
    margin: 0 0 0 6px ;
}

.sppb-social.flat > *{
    margin: 0 0 0 2px ;
}

.sppb-social.flat .sppb-animated-number{
    padding: 0 6px 0 0 ;
}

.sppb-social.flat .sppb-share.open .dropdown-menu{
    right: 110%;
}

.sppb-share .dropdown-menu:before, .sppb-share .dropdown-menu:after{
    right: -12px;
    border-right-color: transparent;
}

.sppb-share .dropdown-menu:after{
    right: -11px;
}

.sppb-share.open .dropdown-menu{
    right: 22px;
}

.sppb-share .dropdown-menu a{
    float: right;
    margin: 0 0 0 3px ;
}

.sppb-tags-label a + a{
    margin: 0 16px 0 0 ;
}

.sppb-tags-label span{
    margin: 0 0 0 8px ;
}

.sppb-addon-feature.author .post-thumb{
    right: 18px;
}

.sppb-comments .sppb-addon-feature{
    padding: 17px 74px 0 0 ;
}

#offcanvas-toggler{
    float: left;
}

.offcanvas-overlay{
    right: 0;
    left: 0;
}

.off-canvas-menu-init .body-wrapper{
    left: 0;
}

.close-offcanvas{
    left: 15px;
}

.offcanvas-menu{
    left: 0;
}

.offcanvas .body-wrapper{
    left: 0;
}

.offcanvas .body-wrapper:after{
    left: 0;
}

.offcanvas .offcanvas-menu{
    left: 0;
}

@media(min-width: 1170px){
    .layout-boxed #sp-header{
        right: 0;
    }

}

@media(min-width: 992px) and (max-width: 1450px){
    .sp-megamenu-parent{
        text-align: left;
    }

    #sp-header{
        padding-left: 30px;
        padding-right: 30px;
    }

}

@media(max-width: 991px){
    .sppb-comments .sppb-addon-feature .sppb-addon-feature{
        margin-right: -74px;
    }

}

@media(max-width: 767px){
    .sppb-addon-feature.icon-mid > *:not(a){
        padding-right: 0;
        padding-left: 0;
    }

    .sppb-share .dropdown-menu{
        left: 50px;
        right: auto;
    }

    .sppb-share.open .dropdown-menu{
        left: 22px;
        right: auto;
    }

    .sppb-social.flat .sppb-share .dropdown-menu{
        left: auto;
        right: 0;
    }

    .sppb-addon-feature.author{
        padding-right: 15px;
    }

}

